version: "3.8"

services:
  frontend-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://demo-dps-postgres:5555
      - VITE_API_TARGET=http://localhost:9999
    networks:
      - my-networks

networks:
  my-networks:
    external: true
    name: dps-network
