version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.prod

    container_name: my-web-app
    restart: always

    ports:
      - "80:80"

    volumes:
      - ./logs:/var/log/nginx
